.nav-item label {
    margin-bottom: 0;
}

.sign-in-status {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
}

.logout-button {
    margin: auto;
}

.list-group {
    max-height: 50vh;
    overflow: auto;
}

.overlap-container {
    display: grid;
}

.delete-confirmation {
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choice-button {
    border: 1px #212529 solid;
    border-radius: 5px;
    cursor: pointer;
}

.group-wrapper {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
}

.group-text {
    cursor: pointer;
}

.group-text:hover h5, .group-text:hover small{
    color: #212529a9;
}

.group-text h5 {
    color: #212529;
}

.add-content {
    text-align: center;
}

.add-content-button {
    width: 50%;
    height: 3rem;
    cursor: pointer;
    border: 1px #212529 solid;
}

.delete-group {
    opacity: 0;
    background-image: url(../images/trash.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: 1px #212529 solid;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.list-group-item:hover .delete-group {
    transition: opacity 0.5s 0s;
    opacity: 1;
}