body {
    overflow: hidden;
}

.container {
    height: 90vh;
}

.row {
    height: 100%;
    width: 100%;
    margin: 0;
}

.col-6 .logo {
    width: calc(2.5rem * 1.27575);
}

.col-6 {
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.authentication-header {
    text-align: center;
    white-space: normal;
}

.form-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    height: 75%;
    font-family: product-sans;
}

.login-form {
    height: 60% !important;
}

.btn {
    height: 5rem;
    white-space: normal;
}