.nav-item label {
    margin-bottom: 0;
}

.sign-in-status {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
}

.logout-button {
    margin: auto;
}

.row {
    width: 100%;
    margin: 0;
}

.toolbar {
    height: 3rem;
    overflow: hidden;
    background-color: #f8f9fa;
    border-top: 2px solid #6c757d;
    flex-direction: row;
    justify-content: space-around;
}

.date {
    text-align: center;
}

.list-group {
    min-height: 50vh;
}

.list-group-item {
    min-width: 100%;
    width: fit-content;
    padding: 1px 10px;
}

.item-wrapper, .days-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.days-wrapper {
    width: 100%;
    padding: 1px 10px;
}

.dates label, .days-of-week label, .attendance-wrapper label {
    width: 2rem;
}