<!doctype html>
<html>
<head>
	<title>WebRTC: Still photo capture demo</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</head>
<body>
	
  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button> 
  </div>
  <canvas id="canvas">
  </canvas>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box."> 
  </div>
  <span id='result'>result will be here</span>
  Name: <input type="text" id="name" value=""><br>
	
</body>
</html>