<head>
    <title>Smartendance</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/general.css">
    <link type="text/css" rel="stylesheet" href="/static/css/userhome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src = "/static/js/jquery.js"></script>
    <script src = "/static/js/checkStatus.js"></script>
    <script src = "/static/js/userhome.js"></script>
</head>
<body onload=setUp()>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/"><img class="logo" src="/static/img/logo.png"> Smartendance</a>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary logout-button" href="/logout">Log Out</a>
                </li>
            </ul>
        <div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="user-home-header">
                    <h1 class="username"></h1>
                    <label>Here are your groups:</label>
                </div>
                <div class="list-group">
                    
                </div>
                <div class="add-content">
                    <button class="add-content-button btn btn-success" onclick=createGroup()>Add Group</button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>