<head>
    <title>Smartendance</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/general.css">
    <link type="text/css" rel="stylesheet" href="../static/css/week-attendance.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-white">
    <nav class="navbar navbar-light navbar-expand-md bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <img class="logo" src="../static/img/logo.png">
                <a class="navbar-brand" href="/">Smartendance</a>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item sign-in-status">
                    <label>You are signed</label>
                    <label>in as:</label>
                    <label>FredLiu876</label>
                </li>
                <li class="nav-item logout-button">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        <div>
    </nav>
    <div class="container-fluid" style="padding: 0;">
        <div class="row toolbar bg-light">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <h6>Group Name</h6>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <h6 class="date">May 11 - May 17</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="days-wrapper" style="margin-top: 2rem;">
                    <label></label>
                    <div class="dates">
                        <label>11</label>
                        <label>12</label>
                        <label>13</label>
                        <label>14</label>
                        <label>15</label>
                    </div>
                </div>
                <div class="days-wrapper">
                    <label></label>
                    <div class="days-of-week">
                        <label>Mo</label>
                        <label>Tu</label>
                        <label>We</label>
                        <label>Th</label>
                        <label>Fr</label>
                    </div>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="item-wrapper">
                            <label class="member-name">Fred Liu</label>
                            <div class="attendance-wrapper">
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="item-wrapper">
                            <label class="member-name">George Wang</label>
                            <div class="attendance-wrapper">
                                <label class="attendance-status">L</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">A</label>
                                <label class="attendance-status">A</label>
                                <label class="attendance-status">L</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js'></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/live-attendance.js"></script>
</body>