<head>
    <title>Smartendance</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/general.css">
    <link type="text/css" rel="stylesheet" href="../static/css/week-attendance.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-white">
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <a class="navbar-brand" href="/"><img class="logo" src="/static/img/logo.png"> Smartendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="valign-wrapper collapse navbar-collapse" id="navbar">
            <nav aria-label="breadcrumb" class="breadcrumb-container">
                <ol class="breadcrumb" style="margin: auto;">
                    <li class="breadcrumb-item"><a href="#" class="text-primary">Home <img src="../static/img/home.png" style="height: 1.25rem; padding-left: 2px; margin-top: -0.5rem;"></a></li>
                    <li class="breadcrumb-item"><a class="group-name text-primary"></a></li>
                    <li class="breadcrumb-item" aria-current="page"><a class="text-primary">Calendar</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="date"></a></li>
                </ol>
            </nav>
        <div>
    </nav>
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="days-wrapper" style="margin-top: 2rem;">
                    <label></label>
                    <div class="dates">
                        <label>11</label>
                        <label>12</label>
                        <label>13</label>
                        <label>14</label>
                        <label>15</label>
                    </div>
                </div>
                <div class="days-wrapper">
                    <label></label>
                    <div class="days-of-week">
                        <label>Mo</label>
                        <label>Tu</label>
                        <label>We</label>
                        <label>Th</label>
                        <label>Fr</label>
                    </div>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="item-wrapper">
                            <label class="member-name">Fred Liu</label>
                            <div class="attendance-wrapper">
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">P</label>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="item-wrapper">
                            <label class="member-name">George Wang</label>
                            <div class="attendance-wrapper">
                                <label class="attendance-status">L</label>
                                <label class="attendance-status">P</label>
                                <label class="attendance-status">A</label>
                                <label class="attendance-status">A</label>
                                <label class="attendance-status">L</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js'></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/live-attendance.js"></script>
</body>